.productDetailImageGallary {
  .image-gallery {
    .image-gallery-content {
      .image-gallery-thumbnails-wrapper {
        .image-gallery-thumbnails {
        }
      }
      .image-gallery-slide-wrapper {
        .image-gallery-left-nav {
          padding: 10px 10px;
          svg {
            width: 40px;
            height: 50px;
          }
        }
        .image-gallery-right-nav {
          padding: 10px 10px;
          svg {
            width: 40px;
            height: 50px;
          }
        }
        .image-gallery-swipe {
          .image-gallery-slides {
            .image-gallery-slide {
              //   max-height: 80vh !important;
              //   max-width: 80vh !important;
              .image-gallery-image {
                width: 100% !important;
                height: 66vh !important;
              }
            }
          }
        }
      }
    }
  }
}

.product-des {
  color: #434343;
}

.modalDetailRight {
  @media screen and (min-width: 420px) {
    height: 76vh;
    padding: 0 10px 0 10px;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px; /* width of the entire scrollbar */
      margin: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(203, 203, 203); /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(68, 68, 68); /* color of the scroll thumb */

      border-radius: 20px; /* roundness of the scroll thumb */
      border: 10px solid rgb(68, 68, 68); /* creates padding around scroll thumb */
    }
  }
}

.scrollInSm {
  @media screen and (max-width: 768px) {
    height: 76vh;
    padding: 0 10px 0 10px;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px; /* width of the entire scrollbar */
      margin: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(203, 203, 203); /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(68, 68, 68); /* color of the scroll thumb */

      border-radius: 20px; /* roundness of the scroll thumb */
      border: 10px solid rgb(68, 68, 68); /* creates padding around scroll thumb */
    }
  }
}
